* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555555;
  font-family: "Roboto Mono", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin: 0;
}

.todo__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.todo__input,
.todo__button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #fff;
  outline: none;
  height: 50px;
}

.todo__button {
  color: #ff7e67;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

form button:hover {
  background: #ff7e67;
  color: #fff;
}

.todo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.todo__list {
  list-style: none;
}

.todo {
  min-width: 500px;
  margin: 0.5rem auto;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.trash-btn,
.complete-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

.trash-btn {
  background-color: #ff7e67;
}

.complete-btn {
  background-color: rgb(11, 212, 162);
}

.trash-btn:hover {
  color: #ff7e67;
  background-color: #fff;
}

.complete-btn:hover {
  color: rgb(11, 212, 162);
  background-color: #fff;
}

.todo__item {
  padding: 0rem 0.5rem;
  flex: 1;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.select {
  border: 0;
  outline: none;
  height: 50px;
  color: #ff6f47;
  cursor: pointer;
  width: 12rem;
  font-size: 14px;
  padding: 0.5rem;
}

.select__container {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select__container::after {
  content: "Sort";
  color: #fbf7f0;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background: #ff7e67;
  cursor: pointer;
  pointer-events: none;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 660px) {
  .header__title {
    font-size: 32px;
  }
  .todo__form {
    flex-wrap: wrap;
  }
  .todo__input {
    width: calc(70vw - 50px);
    font-size: 18px;
  }
  .todo__button {
    width: 50px;
  }
  .select {
    width: 70vw;
  }
  .todo__form {
    margin: 20px 0;
  }
  .todo {
    min-width: 70vw;
    font-size: 18px;
  }
}